<% if @comment -%>

    <div id="admin_sub_nav">
        <div class="sn_left wider">
            This comment is currently <% if @comment.approved? %><b>approved</b> and can be <%= link_to 'viewed on your site', post_path(@comment.post) + '#c' + @comment.id.to_s, :target => '_blank' %>.<% else -%>unapproved and <b>cannot</b> be viewed on your site.<% end -%>
        </div>
        <div class="sn_right narrower">
            <%= link_to '&larr; Return to the comments list', admin_comments_path %>
        </div><br/>
    </div>
    
<% end %>
