  <cite><%= author_link(comment) %></cite> says:
  <br>
  <small class="commentmetadata"><a href="#comment-<%= comment.id %>" title=""><%= format_comment_date(comment.created_at) %></a></small>
  <p><%=raw comment.body_html %></p>
