#nav {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #222222;
}

#nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-right: 10px;
}

#nav a {
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
}
#nav a.current {
  border-bottom: solid 3px #eeeeee;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #cccccc;
}

#footer a {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

#footer p {
  float: right;
  margin-right: 10px;
}

body {
  padding-top: 30px;
  background-color: #dddddd;
  font-family: Helvetica, Sans-serif;
  font-size: 10pt;
}

.panel {
  color: #222222;
  background-color: #ececec;
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 34em;
  min-height: 250px;
}

.panel h2 {
  margin-bottom: 2px;
}

.panel p {
  margin-top: 0;
}

.panel a {
  color: #222222;
  font-weight: bold;
  text-decoration: none;
}

.panel ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.panel ul li.item {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #cccccc;
}

.panel ul li.first {
  border: none;
}

.panel h3 {
  display: inline;
  font-size: 10pt;
  margin-right: 1em;
}

.panel .date {
  font-size: 10pt;
}

.panel .count {
  float: right;
  margin-top: -12px;
}

.panel {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.panel .count a {
  font-weight: bold;
  color: #888888;
}

#recent-comments ul ul li {
  display: inline;
}

#recent-comments ul ul li:after {
	content: ", ";
}
		
#recent-comments ul ul li.last:after {
	content: "";
}

#recent-comments .count {
  font-size: 22pt;
}

#recent-comments .comment-body {
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 5px;
  margin-top: 5px;
}

#recent-comments .comment-body p {
  margin: 0;
}

#recent-comments .comment-body table {
  margin: 0;
}

#recent-comments .comment-link {
  font-weight: normal;
}

#recent-comments .comment-body p.comment-actions {
  margin-bottom: 10px;
  color: #888888;
}

#recent-comments .comment-body a {
  font-weight: normal;
  color: #888888;
}
#summary {
  text-align: center;
  max-width: 980;
  width: 100%;
  color: #222222;
}
#summary h1 {
  margin-bottom: 0;
}
#summary a {
  text-decoration: none;
}

#summary p {
  margin-top: 2px;
  font-weight: bold;
  font-size: 12px;
}

a {
  color: #222222;
}
/* -------- FORMS */

#post_body {
  width: 600px;
  height: 450px;
}

#page_body {
  width: 600px;
  height: 450px;
}

form fieldset ol li {
  border: none;
}

form fieldset ol {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

form fieldset ol li label {
  width: 100px;
}

form fieldset ol li p.inline-hints {
  margin-left: 100px;
}
form fieldset ol li.boolean label {
  padding-left: 100px;
}

/* ---------- TABLES */
table {
  font-size: 12px;
  color: #222222;
  background-color: #ececec;
}

table td {
  padding: 5px;
}

table tr.alt td {
  background-color: #dddddd;
}

table th, 
table tr.pagination td {
  background-color: #222222;
  color: #eeeeee;
  padding: 5px;
}

table form {
  display: inline;
}

div.pagination {
  text-align: center;
}

div.pagination a {
  color: #eeeeee;
}

.comment-actions img,
table img {
  float: left;
  border: none;
  display: inline;
}

/* --------- MESSAGING */
.humanMsg .undo-link {
  display: none;
}
