body 
{ 
  color: black;
  
  font: normal 12px verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

#page_container 
{
  width: 70em; 
  min-height: 400px;
  
  border: solid 1px #aaaaaa;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  text-align: center;

  padding-top: 10em;
}

label, input 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

input[type='text']
{
  font-size: 2em;
  font-weight: bold;
  width: 20em;
  text-align: center;
}
