<% if @post.nil? -%>
    <div id="admin_sub_nav">
        <div class="sn_left">
            <%= link_to('<b>Create a new post</b>', new_admin_post_path()) %>
        </div><br />
    </div>
<% else -%>    
  <% if @post.new_record? %>
      
      <div id="admin_sub_nav">
          <div class="sn_left">
              You're creating a new post.
          </div>
          <div class="sn_right">
              <%= link_to '&larr; Return to the posts list', admin_posts_path() %>
          </div><br/>
      </div>
    
  <% else %>

    <div id="admin_sub_nav">
        <div class="sn_left">
            <% if @post.created_at <= Time.now %>
                This post is currently <% if @post.active? %><b>active</b> and can be <%= link_to 'viewed on your site', post_path(@post) %>.<% else -%>inactive and <b>cannot</b> be viewed on your site.<% end -%>
            <% else %>
                This future post is currently <% if @post.is_active %><b>active</b> but <b>does not</b> appear on your site.<% else -%>inactive and <b>cannot</b> be viewed on your site.<% end -%>
            <% end %>
        </div>
        <div class="sn_right">
            <%= link_to('&larr; Return to the posts list', admin_posts_path()) %>
        </div><br/>
    </div>
  <% end %>
<% end %>
