<h1>New post</h1>

<%= semantic_form_for([:admin, @post]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} -%>
  <%= form.buttons do -%>
    <%= form.commit_button("Save") -%>
  <% end -%>
<% end -%>
