<%= render :partial => 'admin/posts/subnav', :locals => {:np => true, :ep => false} %>

<div id="header">
	<h1>New post</h1>
	<h2>Required fields in <b>bold</b>.</h2><br/>
</div>

<table class="super" cellspacing="0" cellpadding="0">
	<tr>
		<td class="super_left" valign="top" class="no_pad">
      <% form_for([:admin, @post]) do |form| -%>
        <%= render :partial => 'form', :locals => {:form => form} %>
        <tr><td colspan="2">
			  <div class="submit_area"><%= submit_tag 'Create new post', :class => 'submit' %> or <%= link_to 'cancel and return to post list', admin_posts_path %></div>
        </td></tr>
      <% end -%>
			
			
		</td>
	</tr>
</table>
<br/>
