<%= render :partial => 'admin/posts/subnav', :locals => {:np => true, :ep => false} %>

<div id="header">
	<h1>New post</h1>
	<h2>Required fields in <b>bold</b>.</h2><br/>
</div>

<table class="super" cellspacing="0" cellpadding="0">
	<tr>
		<td class="super_left" valign="top" class="no_pad">
      <% admin_form_for([:admin, @post]) do |form| -%>
        <% form.wrap do %>
          <%= render :partial => 'form', :locals => {:form => form} %>
          <%= form.submit_with_cancel(admin_posts_path) %>
        <% end -%>
      <% end -%>
		</td>
	</tr>
</table>
<br/>
