/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require humanmsg
 */

#nav {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #222222;
}

#nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-right: 10px;
}

#nav a {
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
}
#nav a.current {
  border-bottom: solid 3px #eeeeee;
}

body {
  padding-top: 30px;
  background-color: #dddddd;
  font-family: Helvetica, Sans-serif;
  font-size: 10pt;
  margin: 10px;
}

.panel {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  color: #222222;
  background-color: #ececec;
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 34em;
  min-height: 270px;
}

.panel h2 {
  margin-bottom: 2px;
}

.panel p {
  margin-top: 0;
}

.panel a {
  color: #222222;
  font-weight: bold;
  text-decoration: none;
}

.panel ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.panel ul li.item {
  overflow: hidden;
  margin-top: 4px;
  padding-top: 6px;
  border-top: solid 1px #cccccc;
}

.panel ul li.first {
  border: none;
}

.panel h3 {
  float: left;
  font-size: 10pt;
  margin: 0;
  margin-right: 1em;
}

.panel .date {
  float: left;
  font-size: 10pt;
}

.panel .count {
  float: right;
}

.panel .count a {
  font-weight: bold;
  color: #888888;
}

#recent-comments ul ul {
  clear: left;
}

#recent-comments ul ul li {
  display: inline;
}

#recent-comments ul ul li:after {
	content: ", ";
}

#recent-comments ul ul li.last:after {
	content: "";
}

#recent-comments .count {
  font-size: 22pt;
  line-height: 1;
}

#recent-comments .comment-body {
  position: absolute;
  width: 33.1em;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 5px;
  margin-top: 4px;
}

#recent-comments .comment-body p {
  margin: 0;
}

#recent-comments .comment-body table {
  margin: 0;
}

#recent-comments .comment-link {
  font-weight: normal;
}

#recent-comments .comment-body div.comment-actions {
  margin-bottom: 10px;
  color: #888888;
}

#recent-comments .comment-body a {
  font-weight: normal;
  color: #888888;
}
#summary {
  text-align: center;
  max-width: 970px;
  width: 100%;
  color: #222222;
}
#summary h1 {
  margin-bottom: 0;
}
#summary a {
  text-decoration: none;
}

#summary p {
  margin-top: 2px;
  font-weight: bold;
  font-size: 12px;
}

a {
  color: #222222;
}

/* -------- FORMS */
form input,
form select,
form textarea,
form button {
  font: 8pt "lucida grande", "lucida sans unicode", "lucida", sans-serif;
}

#post_body,
#page_body {
  width: 600px;
  height: 450px;
}

form fieldset { margin-bottom: 10px; width: 622px; padding: 10px; }
form fieldset.buttons { text-align: center; }
form fieldset.buttons input { width: 300px; }

p.inline-hints { clear: both; }
form fieldset ol li {
  border: none;
}

form fieldset ol {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

form fieldset ol li label {
  width: 100px;
}

form fieldset ol li p.inline-hints {
  margin-left: 100px;
}
form fieldset ol li.boolean label {
  padding-left: 100px;
}

/* ---------- TABLES */
table {
  font-size: 12px;
  color: #222222;
  background-color: #ececec;
  margin-bottom: 20px;
  border-collapse: collapse;
  padding: 0;
}

table td {
  padding: 5px;
}

table tr.alt td {
  background-color: #dddddd;
}

table th,
table tr.pagination td {
  background-color: #222222;
  color: #eeeeee;
  padding: 5px;
}

table form {
  display: inline;
}

div.pagination {
  text-align: center;
}

div.pagination a {
  color: #eeeeee;
}

.comment-actions img,
table img {
  float: left;
  border: none;
  display: inline;
}

/* --------- MESSAGING */
.humanMsg .undo-link {
  display: none;
}

/* --------- EDIT PREVIEW */
#preview {
  padding-bottom: 10px;
}

#preview > h3 {
  margin: 0;
}

#preview > p {
  color: #666666;
  margin-top: 0.3em;
}

#preview .content {
  color: #222222;
  background-color: #ececec;
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-top: 1.7em;
}

#preview .content table {
  margin-bottom: 0;
}

#content {
  padding-bottom: 2em;
}
