<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">

  <title><%= enki_config[:title] %> - Admin Login</title>

  <%= stylesheet_link_tag 'login' %>
</head>
<body>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="nav">
      <ul>
        <li><%= link_to("View Site", '/', :title => 'View Site') %></li>
      </ul>
    </div>
  </div>
</body>
</html>
