<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<title>My Awesome Blog</title>
</head>
<body>
  <div id="page_container">
    <h1 id="page_heading">My Awesome Blog</h1>

    <div id="main">
      <%= yield %>
    </div>

    <div id="navigation">
      <h2>Pages</h2>
      <ul>
        <li><%= link_to("Home", posts_path) %></li>
      </ul>
      <h2>Categories</h2>
      <ul>
        <% popular_tags.each do |tag| -%>
        <li><%= link_to(tag.name, posts_path(:tag => tag)) %></li>
        <% end -%>
      </ul>
    </div>    
    
    <div id="footer">&#169; The Author. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a></div>
  </div>
</body>
</html>
